*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body{
    color: #ededed;
    background:#081b29;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 35px;
    transition: 3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a:hover{
   color:#0ef;
   
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("https://media-hosting.imagekit.io/366c4b0bad9c4f7e/ChatGPT%20Image%20Apr%2017,%202025,%2007_27_27%20PM.png?Expires=1839507390&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=K88G8ha381tiurbxiz2WgtvI0DZIuYBXf9muo5jO6ffKQ4QaCPgvjfcjmNZAzoQOmWQT28ODFNBrNaZkk89ewpxS8GLbd1LnOOBhnkd~f4qHFMs0LuXEk4mhECHNcil76asgkNIhJvNcJrjXu-9hrK7dFDlipxwnnAeRXSP4DgXd3Wjjxi0~esz~GLlqXZho-72upv1Whlz-oRUh-04vnLzI8JHQU2RuYrCJu5Wa6PoPnee4-SfGfFbNZ6ImB~0Cyq6TrktotDMlLrI4LPqBfSTXFCcC97V9fR3xT1vtjH04bVdnpMhLSUw7PXwET7L6~oXEfgFe~b7X9A8A-E-aYA__")no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
 max-width: 600px;

}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
        font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}
.home-content p
{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s*var);
}
.home-sci a:hover
{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box
{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .1s ease forwards;
    animation-delay: 2s;
    box-shadow:
     0 0 5px #0ef,
     0 0 25px #0ef;
}
.btn-box:hover {
    box-shadow: 
        0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan,
        0 0 200px cyan;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.about {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom:  6rem;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}             
.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.about-text h2{
    font-size: 60px;
}
.about-text h2 span{
    color: #0ef;
}           
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}  
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}  
.container{
    padding: 90px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-width: 10px;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow:
    1px 1px 20px #012290f7,
    1px 1px 40px #0053b8f7;
}
.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .1s ease forwards;
    animation-delay: 2s;
    box-shadow:
     0 0 5px #0ef,
     0 0 25px #0ef;
}
.read:hover{
   box-shadow: 
    0 0 5px cyan,
    0 0 25px cyan,
    0 0 50px cyan,
    0 0 100px cyan,
    0 0 200px cyan;
}
.services-list div:hover{
    transform: translateY(-10px);
}
section{
    display: flex;
    flex-wrap: wrap;
}


.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}
.sub-title span{
    color: #0ef;
}

.about {  /*chat*/
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 60px 10%;
}
.about-text {
    flex: 1;
}
.about-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


 .last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:black;
    font-weight: 300;
    margin-top: 70px;
  }
  
  .top {
    position: fixed;
    bottom: 2.1rem;
    
    right: 2.1rem; 
  }
  
  .top i {
    color: #000;
    background: #000;
    font-size: 28px;
    padding: 10px;
    border-radius: 0.5rem;
    
  }
  .contact {
    background: #1c1c1c;
    text-align: center;

  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    max-width:auto;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #2b2b2b;
    color: #fff;
  }
  

  .main-text{
    padding-top: 130px;
    margin-top: 200px;
    display: flex;
  flex-direction: column; 

  }
  .main-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;
    flex-direction: column;
  }
  .main-text h2 span{
    color: #0ef;
  }
  .portfolio-content{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(359px,auto));
  }
  /*  */
  .row{

    position: relative;
    display: flex;
    justify-content: left;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  }
  .row img{
    width: 50%;
    border-radius: 8px;
    display: block;
    transition: transform;
  }
.layer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1),#0ef);
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  0 40px;
    transition: height 0.5s ;

  }
  .layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;

  }
  .layer p {
    color: #eee;
    font-size: 1rem;
    line-height: 1.8;
  }
  
  .layer .i {
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #af004f;
  }

  .row:hover img{
    transform: scale(1.1);
  }
  .row:hover .layer{
    height: 100%;
  }
 